.addToDoForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.container {
    display: flex;
    width: 100%;
    gap: 0.4rem;
}

input {
    width: 100%;
}

.date {
    display: flex;
    justify-content: flex-end;
}

select {
    width: 100%;
    height: 3rem;
    border: 2px solid #242424;
    border-radius: 6px;
    background-color: inherit;
}

select:focus {
    outline: none;
    background-color: #444;
}

option {
    background-color: #333
}
