
.sortForm {
    overflow: hidden;
    padding-left: 0.4rem;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 2px solid #242424;
    border-top: none;
    border-left: none;
}

.sortForm label {
    gap: 0.4rem;
    display: flex;
    height: 100%;
}

.sortForm select {
    border: none;
    width: 1.2rem;
}

.sortForm button {
    border-radius: 0;
    border: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 0;
}
