.addToDoForm {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

input {
    width: 100%;
}

.date {
    width: 12%;
    display: flex;
    justify-content: flex-end;
}

select {
    border: 2px solid #242424;
    border-radius: 6px;
    background-color: inherit;
    display: flex;
    height: 100%;
    width: 7%;
}

select:focus {
    outline: none;
    background-color: #444;
}

option {
    background-color: #333
}
